p,h1,h2,h3,h4,h5,h6,pre,ol,ul,dl,dd,body,input,textarea,select,a{
       margin:0;padding:0;list-style:none;font-family:"宋体";
}
body,a{
	text-decoration: none;
}

.warpper{
	width: 100%;
	min-width: 1170px;
}
